*.suo
*.exe
bin/Debug/InventarioCL.pdb
bin/Debug/System.Data.SqlClient.dll
obj/Debug/InventarioCL.csproj.FileListAbsolute.txt
obj/Debug/InventarioCL.csproj.GenerateResource.Cache
obj/Debug/InventarioCL.frmContarDiferencias.resources
obj/Debug/InventarioCL.frmLeerMarbeteDiferencias.resources
obj/Debug/InventarioCL.frmListaMarbetesConDiferencia.resources
obj/Debug/ResolveAssemblyReference.cache
obj/Debug/Picking.frmDatosPareja.resources
obj/Debug/InventarioCL.Properties.Resources.resources
obj/Debug/InventarioCL.pdb
obj/Debug/InventarioCL.frm_marbete.resources
obj/Debug/InventarioCL.frmMarbeteManual.resources
obj/Debug/InventarioCL.frmCargarMarbeteDiferencias.resources
obj/Debug/InventarioCL.frmListaMarbetesPorContar.resources
obj/Debug/InventarioCL.frm_login.resources
obj/Debug/InventarioCL.frmDatosMarbete.resources
obj/Debug/InventarioCL.frmSelInventario.resources
obj/Debug/InventarioCL.frmListaLocalizacionesPorContar.resources
obj/Debug/InventarioCL.frmValidaLocalizacionArticulo.resources
obj/Debug/InventarioCL.frm_Menu.resources
bin/Debug/Producción 06-04-2017/InventarioCL.pdb
bin/Debug/Producción 06-04-2017/System.Data.SqlClient.dll
bin/Debug/Pruebas 06-04-2017/InventarioCL.pdb
bin/Debug/Pruebas 06-04-2017/System.Data.SqlClient.dll